<style>
    .landing-page-card:hover{
        box-shadow: 0px 8px 8px 0px rgba(51, 51, 51, 0.10);
    }
    .landing-page-card:hover h3{
        color:rgb(3 74 216);
    }
    iframe{
        transform:scale(0.5); 
        transform-origin:top left;
    }
</style>

<a href="{{ template.url }}" data-framework="{{ ssg_names | strip }}" data-category="{{ categories | strip }}" 
    class="
    template-list-item
    {% if templates.length > 1 %}
    w-[100%] sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-1 xl:w-[560px] xl:max-w-[560px]
    {% else %}
    {{ templates.length }}
    w-[100%]
    md:grid-cols-2
    {% endif %}
    landing-page-card transition relative border-2 border-midnight rounded-xl grid grid-rows-[auto_1fr] overflow-hidden">
    {% if template.data.categories contains 'Starter' %}
        {% assign classes = 'p-5 flex items-center justify-center bg-cc_blue_light' %}
    {% else %}
        {% assign classes = 'h-[286px]' %}
    {% endif %}
    <div class="absolute top-0 right-0 left-0 bottom-0 z-20"></div>
    <div class="overflow-hidden {{ classes }}  flex items-center justify-center">        
        {% if template.data.categories contains 'Starter' %}
            {% bookshop "helpers/image" image: template.data.image alt: template.data.title responsive: true classes: "w-full" %}
            <div class="absolute flex justify-center items-center gap-8">
                <img src="/images/icons/ssgs/{{ template.data.ssgs[0].ssg_name }}.svg" alt="{{ template.data.ssgs[0].ssg_name }}" width="80" height="80" />
                <span class="text-carbon_800 font-bold text-[78px]">+</span>
                <img class="" src="/images/cc-symbol-logo.svg" height="80" />
            </div>
        {% else %}
        <div class="w-[100%] h-[286px] overflow-hidden">
            <iframe            
            title="Inline Frame Example"
            width="200%"
            height="200%"
            src="{{ template.data.ssgs[0].live_preview_url }}"
            scrolling="no">
            </iframe>
            </div>
        {% endif %}
    </div>
    <div class="p-5 flex flex-col self-center gap-4 mb-auto mt-0 md:mt-auto xl:mt-0">
        {% unless template.data.categories contains 'Starter' %}
            <div class="flex gap-x-2">
                {% for cat in template.data.categories %}
                    <span class="text-cc border-2 capitalize border-cc rounded-full px-4 py-2 text-xs font-medium">{{ cat }}</span>
                {% endfor %}
                {% if template.data.partner %}
                    {% bookshop 'simple/partner-badge' %}
                {% endif %}
            </div>        
        {% endunless %}
        
        <div class="flex flex-col gap-2">
            <h3 class="text-4xl font-bold mt-1">
                {{ template.data.name }}
            </h3>
            <p>{{ template.data.description }}</p>
        </div>

        {% unless template.data.categories contains 'Starter' %}
            <div class="flex items-start gap-4 xsm:flex-row xsm:items-center">
                {% for ssg in template.data.ssgs %}
                    <img src="/images/icons/ssgs/{{ ssg.ssg_name }}.svg" width="25" height="25" alt="{{ ssg.ssg_name }}"/>
                {% endfor %}                
            </div>
        {% endunless %}
    </div>
</a>