<div class="
	{% if styles.left %}
		left-[{{ styles.left }}%]
	{% elsif styles.right %}
		right-[{{ styles.right }}%]
	{% endif %}

	{% case styles.shape %}
	{% when 'circle' %}
		before:rounded-full
		w-[110px]
		h-[110px]
	{% else %}
		before:rounded-lg
		h-[80px]
	{% endcase %}
	inline-block  absolute top-[{{ styles.top }}%]  rotate-[{{ styles.rotate }}deg]
	before:w-24 before:bg-white/20 before:h-24 before:block before:h-full before:w-full
	before:border-white before:border before:border-dashed before:absolute">
	<div class="
		{% case styles.shape %}
		{% when 'circle' %}
			rounded-full
		{% else %}
			rounded-lg
		{% endcase %}

		{% if styles.logo.padding %}
			{% if logo.padding.y %}
				py-[{{ styles.logo.padding.y }}px]
			{% else %}
				py-4
			{% endif %}

			{% if styles.logo.padding.x %}
				px-[{{ styles.logo.padding.x }}px]
			{% else %}
				px-2
			{% endif %}
		{% else %}
			py-4 px-2
		{% endif %}

		{% if styles.logo.height %}
			[&>svg]:h-[{{ styles.logo.height }}%]
		{% endif %}

		{% if styles.logo.translate.y %}
			[&>svg]:translate-y-[{{ styles.logo.translate.y }}px]
		{% endif %}

		{% if styles.logo.scale %}
			[&>svg]:scale-[{{ styles.logo.scale }}]
		{% endif %}

		bg-white drop-shadow-2xl relative h-full flex items-center
		translate-x-[{{ shift.x }}px] translate-y-[{{ styles.shift.y }}px] 
		[&>svg]:h-full [&>svg]:w-full">
		{% assign image = content.image %}
		{% unless image %}
			{% assign image = '/src/images/logos/netflix.svg' %}
		{% endunless %}
		{{ image | svgContents }}
	</div>
</div>