<div class="
 inline-block h-20 absolute top-[{{ top }}%] left-[{{ left }}%] rotate-[{{ rotate }}deg]
before:w-24 before:bg-white/20 before:h-24 before:block before:h-full before:w-full
before:rounded-lg before:border-white before:border before:border-dashed before:absolute">
	<div class="bg-white drop-shadow-2xl py-4 px-8 rounded-lg relative h-full 
		translate-x-[{{ shift.x }}px] translate-y-[{{ shift.y }}px] [&>svg]:h-full [&>svg]:w-full">
		{{ '/images/logos/ssgs/jekyll.svg' | svgContents }}
	</div>
</div>