<div class="flex justify-center items-center">
	<img src="{{ person.image.path }}" alt="{{ person.image.alt }}" class="rounded-full w-16"> 
	<p class="ml-4"><strong>{{ person.name }}</strong> <br> {{ person.position }} — {{ title }}</p>
</div>