{% assign classes = "" %}

{% assign desktop_styles = "" %}
{% assign tablet_styles = "" %}
{% assign mobile_styles = "" %}

{% assign image_desktop_styles = "" %}
{% assign image_tablet_styles = "" %}
{% assign image_mobile_styles = "" %}

{% assign desktop_styles = desktop_styles | render_margin: styles, 'desktop' %}
{% assign tablet_styles = tablet_styles | render_margin: styles, 'tablet' %}
{% assign mobile_styles = mobile_styles | render_margin: styles, 'mobile' %}

{% assign desktop_styles = desktop_styles | render_block_alignment: styles, 'desktop' %}
{% assign tablet_styles = tablet_styles | render_block_alignment: styles, 'tablet' %}
{% assign mobile_styles = mobile_styles | render_block_alignment: styles, 'mobile' %}

{% assign image_desktop_styles = image_desktop_styles | render_transform: styles, 'desktop' %}
{% assign image_tablet_styles = image_tablet_styles | render_transform: styles, 'tablet' %}
{% assign image_mobile_styles = image_mobile_styles | render_transform: styles, 'mobile' %}

{% case styles.background %}
	{% when 'caramel' %}
		{% assign classes = classes | append: " bg-caramel light-text" %}
	{% when 'sky' %}
		{% assign classes = classes | append: " bg-sky light-text" %}
	{% when 'sea' %}
		{% assign classes = classes | append: " bg-sea light-text" %}
	{% when 'cc-blue' %}
		{% assign classes = classes | append: " bg-cc dark-text" %}
	{% when 'ash' %}
		{% assign classes = classes | append: " bg-ash light-text" %}
	{% when 'night' %}
		{% assign classes = classes | append: " bg-night dark-text" %}
	{% else %}
		{% assign classes = classes | append: " bg-white light-text" %}
{% endcase %}

{% if styles.border %}
	{% assign classes = classes | append: " border border-black" %}
{% endif %}

{% assign container_name = "quote" | UUID %}
{% assign image_container_name = "image-quote" | UUID %}

<style>
	@media (min-width: 1280px) {
		.{{ container_name}} {
			{{ desktop_styles }}
		}

		.{{ image_container_name}} {
			{{ image_desktop_styles }}
		}
	}

	@media (min-width: 768px) and (max-width: 1279px) {
		.{{ container_name}} {
			{{ tablet_styles }}
		}

		.{{ image_container_name}} {
			{{ image_tablet_styles }}
		}
	}

	@media (max-width: 767px) {
		.{{ container_name}} {
			{{ mobile_styles }}
		}

		.{{ image_container_name}} {
			{{ image_mobile_styles }}
		}
	}
</style>

<div class="flex {{ classes }} {{ container_name }} rounded-2xl max-w-4xl">
	<div class="w-[400px] px-5 relative hidden md:block {{ image_container_name }}">
		{% bookshop "helpers/image" image: content.image alt: content.name responsive: true classes: 'absolute bottom-0 max-h-[345px] w-auto' %}
	</div>
	<div class="flex-1 px-5 py-10">
		<img src="{{ content.logo }}" alt="{{ content.company }}" width="150">
		<blockquote class="text-2xl my-8 font-bold">
			{{ content.quote }}
		</blockquote>

		<div class="text-2xl font-bold">{{ content.name }}</div>
		<div>{{ content.position }}</div>
	</div>
</div>