{% assign left-c = "" %}
{% assign right-c = "" %}
{% assign left-s = "" %}
{% assign right-s = "" %}

{% case styles.type %}
{% when "fixed-fluid" %}
	{% if styles.width %}
		{% assign width = styles.width %}
	{% else %}
		{% assign width = 500 %}
	{% endif %}
	{% assign left-s = left-s | append: " width:" | append: width | append: "px;" %}
	{% assign right-c = right-c | append: " relative flex-1" %}

{% when "fluid-fixed" %}
	{% if styles.width %}
		{% assign width = styles.width %}
	{% else %}
		{% assign width = 500 %}
	{% endif %}
	{% assign right-s = right-s | append: " width:" | append: width | append: "px;" %}
	{% assign left-c = left-c | append: " relative flex-1" %}
{% else %}
	{% assign left-c = left-c | append: " w-1/2" %}
	{% assign right-c = right-c | append:  " w-1/2" %}
{% endcase %}

{% if styles.vertically_center %}
	{% assign flex_center = " flex-col justify-center flex" %}
	{% assign left-c = left-c | append: flex_center %}
	{% assign right-c = right-c | append: flex_center %}
{% endif %}

{% if styles.gap %}
	{% assign left-s = left-s | append: " margin-right: " | append: styles.gap | append: "px;" %}
	{% assign right-s = right-s | append: " margin-left: " | append: styles.gap | append: "px;" %}
{% endif %}

{% assign left-class = "left" | UUID %}
{% assign right-class = "right" | UUID %}
<style>
	@media (min-width: 1280px) {
		.{{ left-class}} {
			{{ left-s }}
		}

		.{{ right-class}} {
			{{ right-s }}
		}
	}
</style>
<div class="xl:flex relative">
	<div class="{{ left-c }} {{ left-class}}">
		{% for component in content.left.blocks %}
			{% bookshop "{{component._bookshop_name}}" bind: component %}
		{% endfor %}
	</div>

	<div class="{{ right-c }} {{ right-class}}">
		{% for component in content.right.blocks %}
			{% bookshop "{{component._bookshop_name}}" bind: component %}
		{% endfor %}
	</div>
</div>

