{% assign_local classes = styles.classes %}

{% assign_local desktop_styles = "" %}
{% assign_local tablet_styles = "" %}
{% assign_local mobile_styles = "" %}

{% assign_local desktop_styles = desktop_styles | render_margin: styles, 'desktop' %}
{% assign_local tablet_styles = tablet_styles | render_margin: styles, 'tablet' %}
{% assign_local mobile_styles = mobile_styles | render_margin: styles, 'mobile' %}

{% assign_local desktop_styles = desktop_styles | render_padding: styles, 'desktop' %}
{% assign_local tablet_styles = tablet_styles | render_padding: styles, 'tablet' %}
{% assign_local mobile_styles = mobile_styles | render_padding: styles, 'mobile' %}

{% case styles.background %}
	{% when 'caramel' %}
		{% assign_local classes = classes | append: " bg-caramel light-text" %}
		{% when 'sky' %}
		{% assign_local classes = classes | append: " bg-sky light-text" %}
	{% when 'sea' %}
		{% assign_local classes = classes | append: " bg-sea light-text" %}
	{% when 'cc-blue' %}
		{% assign_local classes = classes | append: " bg-cc dark-text" %}
	{% when 'ash' %}
		{% assign_local classes = classes | append: " bg-ash light-text" %}
	{% when 'night' %}
		{% assign_local classes = classes | append: " bg-night dark-text" %}
	{% when 'cc-blue-light' %}
		{% assign_local classes = classes | append: " bg-cc_blue_light light-text" %}
	{% when 'transparent' %}
	{% else %}
		{% assign_local classes = classes | append: " bg-white light-text" %}
{% endcase %}

{% case styles.rounded %}
	{% when 'top' %}
		{% assign_local classes = classes | append: " rounded-t-[40px]" %}
		{% assign_local mt = " margin-top:-40px;" %}
		{% assign_local desktop_styles = desktop_styles | append: mt %}
		{% assign_local tablet_styles = tablet_styles | append: mt %}
		{% assign_local mobile_styles = mobile_styles | append: mt %}
	{% when 'full' %}
		{% assign_local classes = classes | append: " rounded-[20px]" %}
{% endcase %}

{% case styles.size %}
{% when 'small' %}
	{% assign_local classes = classes | append: " max-w-[1000px] mx-auto" %}

	{% assign_local mx = " margin-left:auto; margin-right:auto;" %}
	{% assign_local desktop_styles = desktop_styles | append: mx %}
	{% assign_local tablet_styles = tablet_styles | append: mx %}
	{% assign_local mobile_styles = mobile_styles | append: mx %}
{% endcase %}

{% if styles.shadow %}
	{% assign_local classes = classes | append: " shadow-xl" %}
{% endif %}

{% assign_local container_name = "container" | UUID %}

<style>
	@media (min-width: 1280px) {
		.{{ container_name}} {
			{{ desktop_styles }}
		}
	}

	@media (min-width: 768px) and (max-width: 1279px) {
		.{{ container_name}} {
			{{ tablet_styles }}
		}
	}

	@media (max-width: 767px) {
		.{{ container_name}} {
			{{ mobile_styles }}
		}
	}
</style>

<div class="{{ classes }} relative {{ container_name }}">
	<div class="container relative">
		{% for component in content.blocks %}
			{% bookshop "{{component._bookshop_name}}" bind: component %}
		{% endfor %}
	</div>
</div>