{% assign desktop_styles = "" %}
{% assign tablet_styles = "" %}
{% assign mobile_styles = "" %}

{% assign classes = "" %}

{% assign desktop_styles = desktop_styles | render_margin: styles, 'desktop' %}
{% assign tablet_styles = tablet_styles | render_margin: styles, 'tablet' %}
{% assign mobile_styles = mobile_styles | render_margin: styles, 'mobile' %}

{% assign container_name = "small-card" | UUID %}

{% case styles.background %}
	{% when 'caramel' %}
		{% assign classes = classes | append: " bg-caramel light-text" %}
	{% when 'sky' %}
		{% assign classes = classes | append: " bg-sky light-text" %}
	{% when 'sea' %}
		{% assign classes = classes | append: " bg-sea light-text" %}
	{% when 'cc-blue' %}
		{% assign classes = classes | append: " bg-cc dark-text" %}
	{% when 'ash' %}
		{% assign classes = classes | append: " bg-ash light-text" %}
	{% when 'night' %}
		{% assign classes = classes | append: " bg-night dark-text" %}
	{% else %}
		{% assign classes = classes | append: " bg-white light-text" %}
{% endcase %}

<style>
	@media (min-width: 1280px) {
		.{{ container_name}} {
			{{ desktop_styles }}
		}
	}

	@media (min-width: 768px) and (max-width: 1279px) {
		.{{ container_name}} {
			{{ tablet_styles }}
		}
	}

	@media (max-width: 767px) {
		.{{ container_name}} {
			{{ mobile_styles }}
		}
	}
</style>

<div class="{{ container_name }} {{ classes }} border border-black flex rounded-xl p-5">
	<div class="w-[58px] grow-0 shrink-0">
		{% bookshop "helpers/icon" icon_path:content.icon.icon_path, icon_color:content.icon.icon_color icon_size:'normal' %}
	</div>
	<div class="pl-5">
		{% for component in content.blocks %}
			{% bookshop "{{component._bookshop_name}}" bind: component %}
		{% endfor %}
	</div>
</div>