{% assign text_size = "base" %}
{% assign py = 2 %}
{% assign px = 3 %}
{% case styles.size %}
{% when 'big' %}
	{% assign text_size = "lg" %}
	{% assign py = 4 %}
	{% assign px = 6 %}
{% endcase %}

<a 
	class="border-2 rounded-lg py-{{py}} px-{{px}} font-bold text-{{text_size}} transition hover:scale-105 inline-block
	{% case styles.style %}
	{% when "outline" %}
		text-cc border-cc hover:bg-blue-50
	{% when "outline-white" %}
		text-white border-white hover:bg-black hover:bg-opacity-10
	{% when "white" %}
		text-cc bg-white hover:bg-gray-100
	{% when "normal" %}
		text-white bg-cc border-cc hover:bg-cc_hover
	{% endcase %}
	{{ styles.extra_classes }}
	"
	href="{{ content.link }}">
		{{ content.text }}
</a>
